<div class="container" >
<br><br>
    <h1 style=" text-align:center">Project Management System</h1>
    <div class="row">

    <div class=" col-lg-3 col-md-4" style="width: 12rem;">
    </div>        
        <div class="card col-lg-3 col-md-4" style="width: 12rem;">
            <img class="card-img-top" src="https://www.delightlearning.com/img/project.png" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">Project</h5>
                <p class="card-text">VIEW | ADD | REMOVE <br> a Project to the system</p>
                <%= link_to 'PROJECTS',projects_path,class:"btn btn-primary"%>
                </div>
        </div>


        
        <div class="card col-lg-3 col-md-4" style="width: 12rem;">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMOTC2ZTBUaAxG4z1hxl38QYqtVrtN9i5u22LDiWg-bgmSV2zokoBCw8Q5PxXq_oPbaeI&usqp=CAU" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">Employee</h5>
                <p class="card-text">VIEW | ADD | REMOVE <br> an Emloyee to the system</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>

        <div class="col-lg-3 col-md-4" style="width: 12rem;">
        </div>
        
        
        </div>
    </div>
</div>